@use "../abstracs/variabeles";
@use "../abstracs/mixins";

.catogorie{
    position: relative;
    top: 2rem;
    left: 13rem;
    width: 120rem;
    gap: 2rem;
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;



    &__h2{
        margin-top: 8rem;
        position: relative;
        top: 2rem;
        left: 13rem;
        width: 120rem;
        font-size: 280%;
    }

    &__img{
        width: 25rem;
        height: 25rem;
        object-fit: cover;
        transition: 0.2s transform;

        
    }

    img:hover{
        transform: scale(1.05);
    }
    

    &__background{
        width: 30rem;
        height: 30rem;
        background: variabeles.$color--white;
        @include mixins.flexcenter;

    }

    &__h3{
        font-size:200% ;
        font-size: bold;
    }

}