
@use "../abstracs/variabeles";

.curcussen{
    left: 13rem;
    width: 120rem;
    position: relative;

    &__h2{
        font-size: 400%;
        padding-top: 4rem;
       
    }

    &__p{
        font-size: 230%;

    }

}