@use "../abstracs/variabeles";


.tabel{
    display: flex;
    position: relative;
    top: 2rem;
    left: 13rem;
    width: 120rem;
   

    &__table{
        display: flex;
        gap: 4rem;
        
    }

    &__tabs{
        font-size: 200%;

        &:hover{
            font-weight: bold;
            cursor: pointer;

        }

       

    }

    &__figure{
        position: relative;
        top: 2rem;
        left: 13rem;
        margin-top: 3rem;
        width: 120rem;
        height: 25rem;
        border: solid 0.01rem variabeles.$color--black;
        padding: 2rem;
        
    }

    &__wrapper{
        gap: 1.5rem;
        display: flex;
        flex-direction: column;

    }



    &__h2{
        font-size: 350%;

    }

    &__p{
        font-size: 200%;
      

    }

    &__p2{
        color:variabeles.$color--black ;
    }

    &__button{
        width: 100%;
        font-size: 180%;
        padding: 1rem;
        width: 15rem;
        height: 5rem;
        border-style: solid  ;
        border-color: variabeles.$color--black;
        border-width: 0.2rem;

        &:hover{
            background: #DDDDDD;
            cursor: pointer;

        }

    }

}