@use "../abstracs/variabeles";
@use "../abstracs/mixins";


.teams{
    margin-top: 12rem;
    @include mixins.flexcenter;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 15rem;
    

    &__h2{
       font-size: 270%;
      
       
    }

    &__p{
        font-size: 200%;
    }

    &__images{
        margin-top: 1rem;
        display: flex;
        gap: 18rem;
    }

    &__img{
        width: 5rem;
        height: 5rem;
        object-fit: contain;
    }
}